@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "lepka";
  src: url('/fonts/LEPKA.otf');
}

@font-face {
  font-family: "SuisseIntl";
  src: url('/fonts/Suisse Intl/SuisseIntl-Regular.otf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "SuisseIntl";
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.swiper{
  padding: 0 10px 0 10px !important;
  margin: 0 0 20px 0 !important;
}

@media only screen and (max-width: 640px) {
  .swiper{
    padding: 0 5px 0 5px !important;
  }
}


